.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 165px 215px 0;
}

.u-section-1 .u-text-2 {
  width: 710px;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  width: 709px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1033px;
  margin: 45px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 277px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 277px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 304px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 53px 26px 0 14px;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 277px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-5 {
  background-image: none;
  min-height: 277px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-6 {
  background-image: none;
  min-height: 277px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
    width: 710px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    position: relative;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    position: relative;
  }

  .u-section-1 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-3 {
    position: relative;
  }

  .u-section-1 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-4 {
    position: relative;
  }

  .u-section-1 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-11 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-5 {
    position: relative;
  }

  .u-section-1 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-13 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-6 {
    position: relative;
  }

  .u-section-1 .u-text-14 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-15 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 353px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 353px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 353px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1033px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 15px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 304px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 10px 0 20px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 304px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 324px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 324px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 324px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 100px;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-4 {
    position: relative;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-5 {
    position: relative;
  }

  .u-section-2 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 295px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 89px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 353px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 353px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 348px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1033px;
  margin: 1px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 346px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 15px 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 346px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 346px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 30px 10px 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    position: relative;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-4 .u-shape-1 {
  width: 643px;
  background-image: none;
  height: 1048px;
  margin: 77px auto 0 193px;
}

.u-section-4 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -923px auto 0 48px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 470px;
  min-height: 444px;
  background-image: none;
  margin: -79px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 59px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 879px;
    height: 640px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -87px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 77px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 1103px;
    margin-top: -1296px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3028px;
  }

  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 440px;
    height: 2758px;
    margin-top: -2842px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-4 .u-gallery-1 {
    width: 305px;
    height: 1737px;
    margin-top: -2136px;
    margin-left: 35px;
  }

  .u-section-4 .u-group-1 {
    min-height: 489px;
    width: 305px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}